<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="ru.prbb"/> 

    <bean id="oracleHRDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521/portal"/> 
        <property name="username" value="dgluhov"/>
        <property name="password" value="dgluhov"/>
    </bean>

    <bean id="pgDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/future"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

    <bean id="msDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="jdbc:sqlserver://10.64.64.126:1433;databaseName=analytics"/>
        <property name="username" value="lkk_operator"/>
        <property name="password" value="lkk_operator"/>
    </bean>

    <bean name="jdbcLkkTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="pgDataSource"/>
    </bean>
    
    <bean id="dbManager" class="ru.prbb.util.OracleDBManager" factory-method="getInstance">
        <property name="jdbcLkkTemplate" ref="jdbcLkkTemplate"/>
    </bean>

    <bean id="dbMsManager" class="ru.prbb.util.OracleDBManager" factory-method="getInstance">
        <property name="jdbcAnalyticsTemplate" ref="jdbcAnalyticsTemplate"/>
    </bean>

    <bean name="jdbcAnalyticsTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="msDataSource"/>
    </bean>


</beans>